.form-group {
    margin: 20px 30% 10px 30%;
}

.single-btn {
    float: right;
    margin-right: 30%;
}

.mult-btn {
    margin-left: 10px;
}

.btn-toolbar {
    float: right;
    margin-right: 30%;
}