.form-group {
    margin: 20px 25% 10px 25%;
}

.single-btn {
    float: right;
    margin-right: 25%;
}

.mult-btn {
    margin-left: 10px;
}

.btn-toolbar {
    float: right;
    margin-right: 25%;
}